<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.2.0.js"></script>
    <script src="client.js"></script>
    <script>
        window.onload = function () {
            var a = document.getElementsByName('addtocart');

        }
    </script>
</head>
<body>

    <div class="cart">
        <form action="/showcart" method="get">
            <input type="submit" value="Show Cart" id="showcart">
        </form>
    </div>

    <div class="container">
        {{#each prod as |pdt|}}
         <div class="item">
             <img src="{{pdt.imgsrc}}">
             <h1>{{pdt.name}}</h1>
             <h4>PRICE : {{pdt.price}}</h4>
             <input class="submitbtn" id="{{pdt.id}}" type="submit" value="AddToCart" name="addtocart" onclick="change(this)">
         </div>
        {{/each}}

    </div>

</body>
</html>